<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>de.greatbelow.streulicht.alarm</string>
  <key>ProgramArguments</key>
  <array><string>/usr/local/bin/python3</string><string>/Users/Andre/src/wetter/skripte/alarm.py</string></array>
  <key>WorkingDirectory</key><string>/Users/Andre/src/wetter</string>
  <key>StandardOutPath</key><string>/Users/Andre/src/wetter/daten/alarm.log</string>
  <key>StandardErrorPath</key><string>/Users/Andre/src/wetter/daten/alarm.log</string>
  <key>StartCalendarInterval</key><array><dict><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict></array>
</dict></plist>
